* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* deixa o container ser medido pela borda. */
}

/* Dark/light mode */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg) no-repeat top center/cover;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; /*o cover cobre todo o espaço visivel*/

  /*Transformando em uma única propriedade*/

  background: var(--bg-url);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* "*" ao lado do body corresponde ao seletor universal, o que significa que ele irá aplicar isso para todos os elementos dentro do body. */

#container {
  width: 100%;
  max-width: 588px;
  max-height: 712px;
  margin: 56px auto auto;
  padding: 0 24px;
  /* border: 1px solid red; */
}

/* Tanto faz o uso do 'margin: auto;' apenas, como o uso de 'margin-right: auto' e 'margin-left:auto'. */

/* Em elementos img eu não consigo aplicar o "margin auto". Logo, para se aplicar a "margin: auto" é preciso transformar o "display: block". */

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto; /* alinhando o display block */
}

#switch button {
  height: 32px;
  width: 32px;
  background: #fff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 9999px;

  position: absolute; /* faz uma sobreposição de camadas, lembrar do exemplo do olhar de cima de um prédio */
  right: 0;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  top: 50%;
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
}

/* links */
ul {
  list-style: none; /*tira os pontos da lista e deixa sem estilo. */
  display: flex;
  flex-direction: column;
  gap: 16px; /* funciona dando espaço entre os elementos, não dá espaço nem em cima e nem embaixo apenas nos elementos. */
  padding: 24px 0;
}

ul li a {
  display: flex; /* caso fosse "display: block", a propriedade abaixo teria que ser substituída por "text-align:center". */
  justify-content: center; /* lembrar do eixo y // forma de alinhar o display flex */
  align-items: center; /* lembrar do eixo x // forma de alinhar o display flex */
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

/* Pseudo-Select */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* existem propriedades liberadas pelo flex, ou seja, só existem se o flex liberá-las, o que ocorre quando colocamos a propriedade "display: flex" */

/* Social Links */
#social-links {
  display: flex;
  font-size: 24px;
  padding: 24px 0;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

#social-links a {
  /* importante as 3 primeiras propriedades para alinhar os ícones dentro do border-radius */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center; /* forma de alinhar texto ao centro */
  font-size: 14px;
}
